@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
   
background-image: linear-gradient(rgba(0, 0, 0, 0.849), rgba(0, 0, 0, 0.822)),url('img/background 1.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

}

.container-buttons{
margin: 40px 0;
display: flex;
justify-content: center;
align-items: center;
gap: 20px;

}

button{
    background-color:#BF5B04;
    border: none;
    border-radius: 5px;
    color:#020C0D ;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 110px;
}
button:hover{
    opacity: 0.8;
}

ul{
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    justify-content: center;
}

li{
    border: 2px solid #591202;
    border-radius: 5px;
padding: 5px;
}

img{
    width: 100%;
    border-radius: 5px;
}

p{
    color: #E1C289;
}

.item-price{
    font-weight: bold;
    color:#d88237
}